{% load markup %}

<div id="{{paragraph.id}}" class="p">
	{{ paragraph.text|markdown }}
	<div class="topics">
		{% for selection in paragraph.selections.all %}
	       
				<div style="background-color: {{selection.source.color}}" class="topic" id="{{selection.id}}" 
					topic:start="{{selection.startLetter}}"
					topic:end="{{selection.endLetter}}" 
					title="{{selection.topic.description}}"><a href="/topic/{{selection.topic.id}}/">{{selection.topic.name}}</a></div>
		{% endfor %}
	</div>
</div>
