{% extends "base.html" %}

{% load mptt_tags %}
{% load markup %}

{% block title %}Het programma {{ program.name }}{% endblock %}

{% block content %}
	{% if program %}
		<div id="program">
		
			<p><em>Selecteer een stuk tekst om een onderwerp op te geven</em></p>
		
			{% recursetree program.sections.all %}
				<div class="{{ node.type.name }}">
					<h{{node.level|add:"1"}} class="head" id="s{{node.id}}">
						{{ node.name }}  {% if node.level = 0 %} ({{ program.party }}) {% endif %}
					</h{{node.level|add:"1"}}>
					
					{% for paragraph in node.paragraphs.all %}
						<div id="{{paragraph.id}}" class="p">
							{{ paragraph.text|markdown }}
							<div class="topics">
								{% for selection in paragraph.selections.all %}
							       
										<div style="background-color: {{selection.source.color}}" 
											class="topic" id="{{selection.id}}" 
											topic:start="{{selection.startLetter}}"
											topic:end="{{selection.endLetter}}" 
											title="{{selection.topic.description}}">
											<a href="/topic/{{selection.topic.id}}/">{{selection.topic.name}}</a>
										</div>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
					
					{{ children }}
				</div>
			{% endrecursetree %}
		</div>
		<div id="topiclabel">
			Vul hier een label in: <br />
			<form method="post" action="/topic/addLabel/">{% csrf_token %}
				<input type="text" name="label" /> <input type="submit" value="Ok">
				<input type="hidden" name="start" />
				<input type="hidden" name="end" />
				<input type="hidden" name="pid" />
			</form>
		</div>
	{% else %}
		<p>No sections available.</p>
	{% endif %}
{% endblock %}


{% block submenu %}
<ul>
	{% recursetree program.sections.all %}
	 <li>
            <a href="#s{{node.id}}">{{ node.name }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
	{% endrecursetree %}
</ul>

{% endblock %}