<div class="{{ section.type.name }}">
	<h{{head}} class="head" id="s{{section.id}}">{{ section.name }}  {% if party %} ({{ party }}) {% endif %}</h{{head}}>
	{% for paragraph in section.paragraphs.all %}
		{% include "core/paragraph.html" with paragraph=paragraph type=section.type %}
	{% endfor %}
	
	{% for section in section.subsections.all %}
		{% comment %} hack om recursieve templates mogelijk te maken {% endcomment %}
		{% with template_name="core/section.html" %}
			{% include template_name  with section=section head=head|add:"1" only %}
		{% endwith %}
	{% endfor %}
</div>