{% load static %}
{% get_static_prefix as STATIC_URL %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
<head>
    <title>{% block title %}Verkiezingsprogrammas{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.23.custom.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/head.load.min.js"></script>
</head>

<body>
	
	<div id="login">
		{% if user.is_authenticated %}
			Je bent ingelogd als {{ user.username }}. <a href="/accounts/logout/?next=/">Uitloggen</a>
		{% else %}
			<form action='/accounts/login/' method='post'>
				{% csrf_token %}
				<label for="username">Gebruikersnaam</label>
				<input type="text" name="username" value="" id="username">
				<label for="password">Wachtwoord</label>
				<input type="password" name="password" value="" id="password">
				
				<input type="submit" value="login" />
				<input type="hidden" name="next" value="{{ request.get_full_path }}" />
			</form>
		{% endif %}
	
	</div>
	
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Programma's</a></li>
            <li><a href="/topic/">Topics</a></li>
            <li><a href="/import/">Bitman data</a></li>
        </ul>
        {% endblock %}
        
        {% block submenu %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    <script type="text/javascript" >
    	head.js("{{ STATIC_URL }}js/jquery-1.8.0.min.js"
    		   ,"{{ STATIC_URL }}js/jquery.form.js"
    		   ,"{{ STATIC_URL }}js/jquery-ui-1.8.23.custom.min.js"
    		   ,"{{ STATIC_URL }}js/action.js"
               ,"{{ STATIC_URL }}js/rangy-core.js"
               ,"{{ STATIC_URL }}js/rangy-textrange.js"
               ,"{{ STATIC_URL }}js/rangy-cssclassapplier.js"
    		   );
    </script>
</body>
</html>
