{% extends "base.html" %}

{% block title %}Topic {{topic.name}}{% endblock %}

{% block content %}
	{% if topic %}
		<div id="program">
			<h1>{{topic.name}}</h1>
			<p>{{topic.description}}</p>
			{% for selection in topic.selections.all %}
				<h3><a href="/program/{{selection.paragraph.section.program_root.id}}{{selection.paragraph.section.parent.program_root.id}}{{selection.paragraph.section.parent.parent.program_root.id}}{{selection.paragraph.section.parent.parent.parent.program_root.id}}/#{{selection.paragraph.id}}">
					{{ selection.paragraph.section.program_root.party.name}}
					{{ selection.paragraph.section.parent.program_root.party.name}}
					{{ selection.paragraph.section.parent.parent.program_root.party.name}}
					{{ selection.paragraph.section.parent.parent.parent.program_root.party.name}}
					</a>
				</h3>
				<p>{{ selection.prefix }} <span class="highlight">{{ selection.text }}</span>{{ selection.postfix }}</p>
			{% endfor %}
		</div>
	{% else %}
		<p>No topic available.</p>
	{% endif %}
{% endblock %}