{% extends "base.html" %}

{% block title %}Topic {{topic.name}}{% endblock %}

{% block content %}
	{% if topic %}
		<div id="program">
			<h1>{{topic.name}}</h1>
			<p>{{topic.description}}</p>
			{% for selection in topic.selections.all %}
				<h3><a href="/program/{{selection.paragraph.section.program.id}}/#{{selection.paragraph.id}}">
					{{ selection.paragraph.section.program.party.name}}: {{ selection.paragraph.section.program.name}}
					</a>
				</h3>
				<p>
					{{ selection.prefix }} 
					<span class="highlight">{{ selection.text }}</span>
					{{ selection.postfix }}
				</p>
			{% endfor %}
		</div>
	{% else %}
		<p>No topic available.</p>
	{% endif %}
{% endblock %}