# Databases
DB_ENGINE= 'django.db.backends.mysql' # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
DB_NAME= 'programtracker'                      # Or path to database file if using sqlite3.
DB_USER= 'programtracker'                      # Not used with sqlite3.
DB_PASSWORD= 'programtracker'                  # Not used with sqlite3.
DB_HOST= ''                      # Set to empty string for localhost. Not used with sqlite3.
DB_PORT= ''                      # Set to empty string for default. Not used with sqlite3.
